header {
  .navbar {
    z-index: 2;
    .logo {
      width: 55px;
      height: 55px;
    }
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    span {
      display: block;
      width: 30px;
      border-radius: 2px;
      height: 3px;
      margin-bottom: 10px;
      background-color: #000;
    }
  }
  
}