.section.first-section {
  padding: 5rem 0;
  padding-top: calc(5rem + 97px);
  margin-top: -100px;
  position: relative;
  .decoration {
    z-index: 0;
  }
  .row div {
    z-index: 1;
  }
  .landing-circle {
    position: absolute;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 50%;
  }
  .landing-circle.large {
    width: 250px;
    height: 250px;
  }
  .landing-circle.random {
    top: -2rem;
    left: 8%;
  }
  .landing-circle.circle-left {
    left: -2rem;
    bottom: 10%;
  }
  .landing-circle.circle-right {
    right: 1rem;
    top: 30%;
  }
  .landing-square {
    position: absolute;
    background: rgba(255, 255, 255, 0.085);
    border-radius: 12px;
  }
  .landing-square.small {
    left: 20%;
    transform: rotate(40deg);
    width: 90px;
    height: 90px;
  }
  .landing-square.small.mid-left {
    left: 50%;
    top: 18%;
    width: 80px;
    height: 80px;
    transform: rotate(76deg);
  }
  .overflowing-item {
    width: 110%;
    position: absolute;
    bottom: -25px;
    height: 150px;
    background: var(--main);
    transform: rotate(3deg);
    z-index: -1;
  }
}

.landing-pricing, .landing-pitch {
  position: relative;
  .title {
    margin-bottom: 2rem;
  }
  .pricing-card {
    margin-top: 2rem;
  }
}

.landing-pricing {
  margin-bottom: 10rem;
}

.keyword-list {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: var(--dark);
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(var(--light-gray-rgb), 0.4);
  &_item {
    transition: all 0.1s;
    padding: 0.5rem 0.75rem;
    text-transform: capitalize;
    &:hover {
      border-radius: 4px;
      background: rgba(var(--main-rgb), 0.9);
      color: var(--white);
    }
  }
  &_item.border-btm {
    border-bottom: 1px solid rgba(var(--light-gray-rgb), 0.25);
  }
  &_empty {
    padding: 0.5rem 0.75rem;
    span {
      font-weight: 500;
    }
  }
}

.landing-pitch {
  padding: 4rem 0 4rem;
  .title {
    margin-bottom: 0.5rem;
  }
  .subheading {
    margin-bottom: 2rem;
  }
  .buttons.row {
    h3 {
      margin-bottom: 2rem;
    }
    padding-bottom: 8rem;
    margin-top: 5rem;
  }
  .patterns-small-bottom-right {
    width: 155px;
    height: 155px;
    right: 4rem;
    position: absolute;
    bottom: 19rem;
  }
  .patterns-small-mid-left.bg-pattern {
    width: 180px;
    height: 180px;
    left: 10px;
    position: absolute;
    top: 35rem;
  }
  .contact-btn {
    width: 175px;
  }
  .contact-btn.twitter {
    margin-right: 1.5rem;
    background: rgba(var(--dark), 1);
    box-shadow: 0px 2px 3px 2px rgba(var(--light-blue-rgb), 0.22);
    border: 2px solid rgba(var(--light-blue-rgb), 0.8);
    color: rgba(var(--light-rgb), 0.95);
    &:hover {
      color: rgba(var(--light-rgb), 1);
      border: 2px solid rgba(var(--light-blue-rgb), 1);
      box-shadow: 0px 2px 3px 2px rgba(var(--light-blue-rgb), 0.3);
    }
  }
  .contact-btn.roadmap {
    margin-right: 1rem;
    box-shadow: 0px 2px 3px 2px rgba(var(--orange-red-rgb), 0.2);
    background: rgba(var(--dark), 1);
    border: 2px solid rgba(var(--orange-red-rgb), 0.6);
    color: rgba(var(--light-rgb), 0.95);
    &:hover {
      color: rgba(var(--light-rgb), 1);
      border: 2px solid rgba(var(--orange-red-rgb), 1);
      box-shadow: 0px 2px 3px 2px rgba(var(--orange-red-rgb), 0.3);
    }
  }
}

.pitch-row {
  margin: 1.5rem auto 3rem!important;
  padding-top: 1.5rem!important;
  padding-bottom: 3rem!important;
  &_title {
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--main);
  }
  &_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  &_wrapper.text-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  &_text {
    letter-spacing: 0.15px;
    b {
      color: var(--purple);
    }
  }
  &_image {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    width: 95%;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.085);
  }
}

.featured {
  padding: 8rem 0;
  &_template {
    padding: 1rem 0;
    margin-right: 2rem;
    width: 400px;
    &_img {
      img {
        width: 350px;
        border-radius: 8px;
        box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.085);
      }
    }
    &_body {
      padding: 1rem 0;
    }
    &_title {
      color: var(--dim-gray);
      font-weight: 600;
      font-size: 1.25rem;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &_subtitle {
      font-size: 0.9rem;
      color: var(--dim-gray);
      font-weight: 400;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_tag {
      color: var(--main);
      font-size: 12px;
      font-weight: 600;
      margin-left: 0.25rem;
      text-transform: capitalize;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.featured-templates-row {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  padding: 0 0.5rem;
}

.section {
  .preview-gif {
    max-width: 750px;
  }
  &_link {
    color: var(--purple);
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 1rem;
    vertical-align: middle;
  }
  .section-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .title {
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
    .subtitle {
      font-size: 1.15rem;
      margin-bottom: 0;
      font-weight: 400;
    }
  }
  .section-text-wrapper.center {
    margin: 0 auto;
    align-items: center;
  }
}

.row {
  max-width: 1400px;
  padding: 0 3rem;
  margin: 0 auto;
}

.large-row {
  max-width: 1500px;
  padding: 0 1rem;
}

.card-wrapper-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.card-wrapper-left {
  display: flex;
  margin-left: 2rem;
  justify-content: flex-start;
}

.section-card {
  margin-top: 3rem;
  max-width: 400px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 8px;
  border: 2px solid rgba(var(--dim-gray-rgb), 0.5);
  display: flex;
  flex-direction: column;
  height: fit-content;
  &_header {
    &_title {
      font-size: 1.25rem;
      font-weight: 800;
      text-align: center;
    }
    &_subheading {
      color: var(--dim-gray);
      text-align: center;
      font-size: 0.95rem;
    }
  }
  &_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    &_image {
      width: 100%;
      border-radius: 4px;
      height: 180px;
    }
  }
  &_footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-top: 2.5rem;
    button {
      all: unset;
      font-size: 1rem;
      padding: 0.5rem 0;
      font-weight: 600;
      border: 1px solid rgba(var(--light-rgb), 0.5);
      border-radius: 4px;
      text-align: center;
      &:hover {
        cursor: pointer;
        border: 1px solid rgba(var(--light-rgb), 0.7);
      }
    }
  }

}

.section-card.bg-dark {
  color: var(--light);
  .section-card_header_subheading {
    color: var(--light-gray);
  }
  &:hover {
    background-color: rgba(var(--dark-blue-rgb), 1)!important;
  }
}


@media screen and (max-width: 1250px) {
  .landing-section {
    .preview-gif {
      max-width: 625px;
    }
  }

}

@media screen and (max-width: 991px) {
  
  .section-text-wrapper {
    .title {
      font-size: 3.5rem;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
  }
  .title {
    font-size: 2rem!important;
    margin-bottom: 1rem!important;
  }
  .card-wrapper-right, .card-wrapper-left {
    margin: 0;
    margin-top: 3rem;
    justify-content: center;
  }
  .section-card {
    width: 100%;
  }
  .pitch-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
  }
  .landing-section {
    .preview-gif {
      min-width: 550px;
      width: 100%;
      max-width: 100%;
    }
  }
  .landing-pitch {
    padding: 0!important;
    .patterns-small-bottom-right {
      bottom: 25rem;
    }
    .patterns-small-mid-left.bg-pattern {
      top: 42rem;
    }
  }
}