.sidebar {
  width: 100%;
  flex: 1;
  max-width: 350px;
  height: calc(100vh);
  margin-top: -88px;
  position: relative;
  &_content {
    max-width: 350px;
    padding-top: 70px;
    width: 100%;
    position: fixed;
    height: 100%;
    border-right: 2px solid rgba(var(--main-rgb), 0.2);
  }
  &_item {
    transition: all 0.25s;
    a {
      padding: 0.65rem 1.5rem;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      svg {
        margin-right: 8px;
        stroke: rgba(var(--dim-gray-rgb), 0.85);
      }
      span {
        font-size: 1rem;
        color: rgba(var(--dim-gray-rgb), 1);
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
        span {
          color: rgba(var(--dark), 1);
        }
        svg {
          stroke: rgba(var(--dark), 0.9);
        }
      }
    }
    &-sublinks {
      margin-left: 1.6rem;
      border-left: 2px solid rgba(var(--main-rgb), 0.5);
      a {
        padding-left: 0.65rem!important;
      }
      &_label {
        font-weight: 400!important;
        font-size: 0.85rem!important;
        color: rgba(var(--dim-gray-rgb), 1)!important;
      }
    }
  }
  &_item.active {
    a {
      svg {
        stroke: rgba(var(--main-rgb), 0.85);
      }
      span {
        color: rgba(var(--main-rgb), 0.9);
      }
      &:hover {
        span {
          color: rgba(var(--dark), 1);
        }
        svg {
          stroke: rgba(var(--dark), 0.9);
        }
      }
    }
  }
}


@media screen and (min-width: 1100px) {
  .sidebar {
    &_toggle {
      display: none;
    }
  }
}

@media screen and (max-width: 1250px) {
  .sidebar {
    z-index: 100;
    &_content {
      padding-top: 80px;
    }
    &_toggle {
      z-index: 2;
      display: block;
      div {
        width: 15px;
        height: 2px;
        background: rgba(var(--dark), 1);
        margin: 2px 0;
      }
    }
    &_item {
      display: block;
      width: fit-content;
      a {
        width: fit-content;
      }
    }
  }
  .sidebar.closed {
    padding: 80px 10px 0;
    max-width: 50px;
    .sidebar_content {
      display: none;
    }
    .sidebar_toggle.inner-toggle {
      display: none;
    }
  }
  .sidebar.open {
    max-width: 100%;
    width: 100%;
    .sidebar_toggle {
      top: 85px;
      position: absolute;
      left: calc(100vw - 20px);
      z-index: 10000;
    }
    .sidebar_content {
      z-index: 1;
      background: rgb(255, 255, 255, 0.85);
      max-width: 100%;
      width: 100%;
      display: block;
    }
    .sidebar_item {
      &:first-of-type {
      }
    }
  }
}