
:root {
  --insert-bg: rgba(62, 227, 197, 0.6);
  --dark: 37, 37, 37;
  --white: rgba(255, 255, 255, 1);
  --main: rgba(62, 227, 197, 1);
  --secondary: rgba(113, 118, 236, 1);
  --dim-gray: rgba(105, 105, 105, 1);
  --light-gray: rgba(185, 185, 185, 1);
  --purple: rgba(135, 62, 227, 1);
  --purple-rgb: 135, 62, 227;
  --light: rgba(230, 230, 230, 1);
  --light-rgb: 230, 230, 230;
  --light-gray-rgb: 185, 185, 185;
  --dim-gray-rgb: 105, 105, 105;
  --orange-red: rgba(255, 87, 33, 1);
  --orange-red-rgb: 255, 87, 33;
  --secondary: rgba(113, 118, 236, 1);
  --secondary-rgb: 113, 118, 236;
}