@import "_sections.scss";
@import "_vars.scss";
@import "_header.scss";
@import "_templates.scss";
@import "_purchase.scss";
@import "_footer.scss";
@import "_template.scss";
@import "_varia.scss";
@import "_help.scss";
@import "_pricing.scss";
@import "_roadmap.scss";

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #252525;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
}

:root {
  --insert-bg: rgba(62, 227, 197, 0.6);
  --dark: 37, 37, 37;
  --white: rgba(255, 255, 255, 1);
  --dark-blue: rgba(35, 36, 46, 1);
  --dark-blue-rgb: 35, 36, 46;
  --blue: rgba(28, 81, 221, 1);
  --blue-rgb: 28, 81, 221;
  --secondary: rgba(62, 227, 197, 1);
  --dim-gray: rgba(105, 105, 105, 1);
  --light-gray: rgba(204, 204, 204, 1);
  --purple: rgba(135, 62, 227, 1);
  --purple-rgb: 135, 62, 227;
  --light: rgba(250, 250, 250, 1);
  --light-rgb: 230, 230, 230;
  --light-gray-rgb: 204, 204, 204;
  --dim-gray-rgb: 105, 105, 105;
  --orange-red: rgba(255, 87, 33, 1);
  --orange-red-rgb: 255, 87, 33;
  --main: rgba(113, 118, 236, 1);
  --main-rgb: 113, 118, 236;
  --secondary-rgb: 62, 227, 197;
  --light-blue-rgb: 29, 161, 242;
}

body > div {
  height: 100%;
}

.layout {
  height: 100%;
  &_content {
    padding-top: 88px;
    min-height: 100%;
  }
}

.pb-xxl {
  padding-bottom: 7rem;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.heavy {
  font-weight: 800;
}

.list {
  padding-left: 1rem;
  li {
    margin-bottom: 1rem;
  }
}

.heading {
  text-transform: capitalize;
  font-weight: 800;
}

.heading-sm {
  font-size: 1.75rem;
}

.heading-md {
  font-size: 3rem;
}

.heading-lg {
  font-size: 4rem;
}

.heading-xl {
  font-size: 4rem;
}

.back-wrapper {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 400;
  color: rgba(var(--dim-gray-rgb), 0.8);
  cursor: pointer;
  svg {
    width: 20px;
    height: 15px;
    margin-right: -3px;
    transform: rotate(90deg);
    fill: rgba(var(--purple-rgb), 0.8);
    margin-top: 2px;
  }
  &:hover {
    color: rgba(var(--dim-gray-rgb), 1);
    svg {
      fill: rgba(var(--purple-rgb), 0.95);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.link {
  color: var(--blue);
  font-weight: 500;
}

.text-main {
  color: var(--main)!important;
}

.bg-main {
  background: var(--main);
}

.bg-dark {
  background: rgb(var(--dark))!important;
  background-color: rgb(var(--dark))!important;
}

.title {
  text-transform: capitalize;
  font-weight: 800;
}

.bg-pattern {
  z-index: -1;
  background-size: 18px 18px;
  opacity: 0.5;
  background-repeat: repeat;
  background-position: 0px 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%238185ee' fill-opacity='0.68' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-pattern.light {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23fafafa' fill-opacity='0.68' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.patterns-small {
  width: 200px;
  height: 200px;
  position: absolute;
}

.patterns-small-right {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 7rem;
  right: -0.5rem;
  width: 225px;
  height: 209px;
}

.patterns-small-left {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -1rem;
  width: 225px;
  height: 209px;
  background-size: 18px 18px;
  background-position: -10px 0px;
  bottom: -9rem;
}

.bg-purple {
  background: var(--purple);
}

.text-secondary {
  color: var(--secondary)!important;
}

.text-secondary.light {
  color: rgb(94, 255, 224)!important;
}

.text-light {
  color: var(--light);
}

.text-gray {
  color: var(--dim-gray);
}

.btn-bordered {
  all: unset;
  border: 2px solid rgb(var(--dark));
  all: unset;
  border: 2px solid rgb(var(--dark));
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}

.contact-btn {
  transition: all 0.25s;
  margin: 0.5rem 0;
  width: fit-content;
  text-align: center;
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  border: 2px solid transparent;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.095);
}

.browse-btn {
  padding: 0.65rem 1rem;
  width: fit-content;
  background-color: var(--light);
  color: var(--main);
  border-radius: 4px;
  border: 2px solid rgba(var(--main-rgb), 0.75);
  font-weight: 500;
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.09);
  transition: all 0.25s;
  &:hover {
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.15);
    border: 2px solid rgba(var(--main-rgb), 1);
    color: var(--main);
  }
}

.text-white {
  color: var(--white);
}

.text-purple {
  color: var(--purple);
}

.text-dark-blue {
  color: var(--dark-blue);
}

.card-shadow {
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.05);
}

.text-orange-red {
  color: var(--orange-red);
}

.form-control {
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.04);
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(var(--secondary-rgb), 0.25);
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.09);
  }
}

.btn-none {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}


.select-btn.form-control.btn-none {
  svg {
    fill: rgb(var(--dark));
    float: right;
    margin-right: 5px;
    margin-top: 5px;
  }
}

.select-options {
  position: relative;
  &_wrapper {
    position: absolute;
    top: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.075);
    border: 1px solid rgba(0,0,0,0.1);
  }
  &_option {
    border: none;
    padding: 0.5rem 0;
    font-size: 1em;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    text-indent: 0.5rem;
    background: rgba(255, 255, 255, 0.98);
    &:first-of-type {
      border-top: none;
    }
    &:hover {
      background-color: rgba(135, 62, 227, 0.9);
      span {
        color: var(--white);
      }
    }
  }
}

.form-control.large-input {
  padding: 0.5rem 1rem;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .patterns-small-left {
    left: -10rem;
  }
}